// Styles for the Bio Page

.biobg {
  background-image: url('../img/backgrounds/blackbrick.jpg');
}

.bio-content {
  width: 80%;
  margin-top: 8em;
  font-family: raleway;
}

.bio-text {
  margin-top: 2em;
  text-align: center;
  p {
    color: #fff;
  }
  a {
    color: #FFF;
  }
}

