// Styles for the Bio Page

.biobg {
  background-image: url('../img/backgrounds/blackbrick.jpg');
}

.bio-content {
  overflow: hidden;
  position: relative;
  line-height: 0;
  width: 80%;
  margin: 8em auto 0;
}

.bio-text {
  margin: 2em 1em 0;

  p {
    font-family: proxima-nova;
    font-style: normal;
    font-size: 14px;
    line-height: 1.68em;
    color: #fff;
  }
}
