// Styles for the Bio Page

.biobg:before {
  background-image: url('../img/backgrounds/blackbrick.jpg');
}

.bio-content {
  width: 80%;
  margin-top: 8em;
  padding-bottom: 3em;
  color: #fff;

  a {
    color: #FFF;
  }
}

.bio-image {
  margin-bottom: 2em;
}

