// Styles for the contact page

.contactbg {
  background-color: #000000;
}

.contact-content {
  width: 80%;
  margin-top: 8em;
    b { 
      color: #FFFFFF;
      font-size: 125%;
    }

    p {
        margin-top: 2em;
        font-size: 80%;
        color: rgba(255, 255, 255, .3);        
    }
}

.contact hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: #FFFFFF;
}
