{% extends "base.html" %}
{% block body_classes %} full-cover biobg {% endblock %}
{% block body %}
<section class="bio">
  <div class="container-fluid center-block bio-content">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <img class="img-responsive" data-type="image" data-image-3dimensions="1920x1086" src="/static/img/gallery/images/sepoybio.jpg">
      </div>
      <div class="col-sm-8 col-sm-offset-2 bio-text">
        <p>Sepoy is a four piece Indie Alternative Pop Rock band. They started jamming in the lower east side in NYC in 2012 and created music that delves into the ambient, melodic and melancholic with rhythmic foundations in blues and rock.</p>
        <p> The word Sepoy was originally used to refer to an indigenous soldier serving in the army of an imperialist conqueror. This conflict of loyalty is reflected in our times, in those who struggle to unshackle themselves from the very chains they forged. This struggle is the motif behind Sepoy's lyrical and musical compositions.</p>
        <p>Sepoy's members (from left to right) are</p>
        <ul>
          <li><a href="http://www.reverbnation.com/musician/rahulratakonda">Rahul Ratakonda (Bass)</a></li>
          <li><a href="http://www.reverbnation.com/musician/ameyrairikar">Amey Rairikar (Lead Guitar)</a></li>
          <li><a href="http://www.reverbnation.com/musician/anupamburra4">Anupam Burra (Vocals, Keys, Guitar)</a><li>
          <li><a href="http://www.reverbnation.com/musician/sriramraman">Sriram Raman (Drums)</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
