{% extends "base.html" %}
{% block body_classes %} biobg {% endblock %}
{% block body %}
<section class="bio">
  <div class="container bio-content text-center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <img class="img-responsive bio-image" data-type="image" data-image-3dimensions="1920x1086" src="/static/img/gallery/images/sepoybio.jpg">
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <p>Sepoy is a four piece Indie Alternative Pop/Rock band based in New York City. Their debut album is influenced thematically by the journey from their childhood in India to their current lives in the U.S.A, and musically by the underground rock scene in India. Their ethnic rhythmic and tonal influences are subliminally present throughout the album slated for release later this year.</p>
        <p>The band's name, Sepoy – originally referring to an indigenous soldier serving under an imperialist conqueror – is also the driver behind the theme of their album: a contextualization of the Sepoy’s dilemma in situations faced by everyday people.</p>
        <p>Sepoy's members (from left to right) are</p>
        <ul>
          <li><a href="http://www.reverbnation.com/musician/rahulratakonda">Rahul Ratakonda (Bass)</a></li>
          <li><a href="http://www.reverbnation.com/musician/ameyrairikar">Amey Rairikar (Lead Guitar)</a></li>
          <li><a href="http://www.reverbnation.com/musician/anupamburra4">Anupam Burra (Vocals, Keys, Guitar)</a><li>
          <li><a href="http://www.reverbnation.com/musician/sriramraman">Sriram Raman (Drums)</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
