{% extends "base.html" %}
{% block body_classes %}
full-cover contactbg
{% endblock %}
{% block body %}
<section class="contact">
  <div class="container-fluid center-block contact-content text-center col-md-6 col-xs-10">
    <hr>
    <h3>Booking Inquiry</h3>
    <p>booking@sepoy.com</p>
    <hr>
    <h3>Follow us</h3>
    <p class="networks">
    <a href="https://www.facebook.com/0sepoy0"><img class="network-image" src="../static/img/networks/facebook.png"></a>
    <a href="http://www.bandsintown.com/Sepoy"><img class="network-image" src="../static/img/networks/bandsintown.png"></a>
    <a href="https://soundcloud.com/sepoynyc"><img class="network-image" src="../static/img/networks/soundcloud.png"></a>
    </p>
    <hr>
    <!---
    <hr>
    <b>SUBSCRIBE</b>
    <p>Sign up to receive updates about our releases and shows</p>
    -->
    <!--
        <script type="text/javascript">
          // Using jQuery.
          $(function() {
          $('form').each(function() {
            $(this).find('input').keypress(function(e) {
              // Enter pressed?
              if (e.which == 10 || e.which == 13) {
                this.form.submit();
              }
            });
            $(this).find('input[type=submit]').hide();
          });
        });
      </script>
        -->
        <!---
    <form name="email" target="#here" method="post">
      <input name="email" type="email" />
      <input type="submit" hidden="true" />
    </form>
      -->
  </div>
</section>
{% endblock %}
