{% extends "base.html" %}
{% block extra_css %}
  <link href="/static/css/lightGallery.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body_classes %}
full-cover gallerybg
{% endblock %}
{% block body %}
<section class="gallery">
  <div class="gallery-content container-fluid">
    <div class="row">
      <ul id="lightGallery"></ul>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
<script src="/static/js/libs/lightGallery.js"></script>
<script src="/static/js/sepoy-gallery.js"></script>
{% endblock %}
