{% extends "base.html" %}
{% block body %}
<section class="main">
  <div class="homeslider flexslider">
    <ul class="slides">
      <li class="slide1 full-cover"></li>
      <li class="slide2 full-cover"></li>
    </ul>
  </div>
  <div class="container">
    <div class="content splash-content">
      <!-- <div class="row">
        <div class="col-md-6 col-sm-10 header-main">
          <h1>Sepoy</h1>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-6 col-sm-10 audio-player">
          <div class="controls">
            <audio class="audio-element" preload="auto"/>
          </div>
          <div class="tracks">
            <div class="track" data-title="Won't You Tell Me How?" data-artist="Sepoy" data-track="https://s3.amazonaws.com/sepoy/WontYouTellMeHow.mp3"></div>
            <div class="track" data-title="Till The End Of Time" data-artist="Sepoy" data-track="https://s3.amazonaws.com/sepoy/UntilTheEndOfTime.mp3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
  <script src="static/js/libs/jquery.flexslider-min.js"></script>
  <script src="static/js/libs/audiojs/audio.js"></script>
  <script src="static/js/audioPlay.js"></script>
  <script>
     $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>
{% endblock %}
