{% extends "base.html" %}
{% block body %}
<section class="main">
  <div class="homeslider flexslider">
    <ul class="slides">
      <li class="slide1 full-cover"></li>
      <li class="slide2 full-cover"></li>
    </ul>
  </div>
  <div class="container">
    <div class="content splash-content">
      <div class="row">
        <div class="col-md-6 col-sm-10 header-main">
          <h1>Sepoy</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-10 audio-player">
          <div class="controls">
            <audio src="http://static1.squarespace.com/static/54ae6b4be4b0faae8686b3f2/54d689b2e4b02a87a2173798/54d689bae4b02a87a21737d3/1423346106819/Back+To+You.mp3" preload="auto"/>
              <!-- <a class="button button-previous icon-wrapper">
                <span class="fa fa-backward"></span>
              </a>
              <a class="button button-play-pause icon-wrapper">
                <span class="fa fa-play"></span>
              </a>
              <a class="button button-next icon-wrapper">
                <span class="fa fa-forward"></span>
              </a> -->
          </div>
          <div class="tracks">
            <div class="track" data-title="Back To You" data-artist="Sepoy">
              <div class="track-progress-bar">
                <div class="bg bar"></div>
                <div class="load-bar bar"></div>
                <div class="play-bar bar"></div>
              </div>

              <div class="track-info">
                <div class="track-time">4:48</div>
                <div class="track-title"><a class="link" data-src="http://static1.squarespace.com/static/54ae6b4be4b0faae8686b3f2/54d689b2e4b02a87a2173798/54d689bae4b02a87a21737d3/1423346106819/Back+To+You.mp3">Back To You</a></div>
              </div>
            </div>

            <div class="track" data-title="Come Home" data-artist="Sepoy">
              <div class="track-progress-bar">
                <div class="bg bar"></div>
                <div class="load-bar bar"></div>
                <div class="play-bar bar"></div>
              </div>

              <div class="track-info">
                <div class="track-time">4:58</div>
                <div class="track-title"><a class="link" data-src="http://static1.squarespace.com/static/54ae6b4be4b0faae8686b3f2/54d689b2e4b02a87a2173798/54d689bde4b0ed3e694383f2/1423346109039/Come+Home.mp3">Come Home</a></div>
              </div>
            </div>

            <div class="track" data-title="Reno" data-artist="Sepoy">
              <div class="track-progress-bar">
                <div class="bg bar"></div>
                <div class="load-bar bar"></div>
                <div class="play-bar bar"></div>
              </div>

              <div class="track-info">
                <div class="track-time">7:38</div>
                <div class="track-title"><a class="link" data-src="http://static1.squarespace.com/static/54ae6b4be4b0faae8686b3f2/54d689b2e4b02a87a2173798/54d689c3e4b02a87a21737f3/1423346115305/Reno.mp3">Reno</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
  <script src="static/js/libs/jquery.flexslider-min.js"></script>
  <script src="static/js/libs/audiojs/audio.js"></script>
  <script src="static/js/audioPlay.js"></script>
  <script>
     $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>
{% endblock %}
