{% extends "base.html" %}
{% block body %}
<section class="main">
  <div class="homeslider flexslider">
    <ul class="slides">
      <li class="slide1 full-cover"></li>
      <li class="slide2 full-cover"></li>
    </ul>
  </div>
  <div class="container">
    <div class="content splash-content">
      <div class="row">
        <div class="col-md-6 col-sm-10 header-main">
          <h1>Sepoy</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-10 audio-player">
          <div class="controls">
            <audio class="audio-element" preload="auto"/>
          </div>
          <div class="tracks">
            <div class="track" data-title="Back To You" data-artist="Sepoy" data-track="http://res.cloudinary.com/hfmjrna9x/raw/upload/v1429564514/audio/back-to-you.mp3"></div>
            <div class="track" data-title="Come Home" data-artist="Sepoy" data-track="http://res.cloudinary.com/hfmjrna9x/raw/upload/v1429564510/audio/come-home.mp3"></div>
            <div class="track" data-title="Reno" data-artist="Sepoy" data-track="http://res.cloudinary.com/hfmjrna9x/raw/upload/v1429564396/audio/reno.mp3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
  <script src="static/js/libs/jquery.flexslider-min.js"></script>
  <script src="static/js/libs/audiojs/audio.js"></script>
  <script src="static/js/audioPlay.js"></script>
  <script>
     $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>
{% endblock %}
