@media(min-width: $screen-sm-min) {
  .navbar-brand {
    display: none;
  }
}

@media(max-width: $screen-sm-max) {
  .navbar-nav > li {
    margin: 1.25em 0;
    font-family: "Source Sans Pro",Tahoma,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 4px;
    font-size: 13px;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 300;
    font-style: normal;
  }
}
