@media(max-width: $screen-xs-max) {
  .navbar-inverse .navbar-brand {
    display: block;
    font-family: $font-family-sans-serif;
    font-size: 17px;
    text-transform: uppercase;
  }
}

@media(max-width: $screen-xs-max) {
  .navbar-inverse {
    background-color: rgba(34, 34, 34, 1);
    border-color: rgba(9, 9, 9, 1);
  }
}
